<ion-header>

  <ion-navbar>
    <ion-title>Items do Pedido</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="pedido-content">
  <ion-list>
    <h6>Produtos</h6>

    <h4 *ngIf="items.length == 0">Nenhum produto adicionado ainda</h4>

    <ion-item *ngFor="let item of items">
      <span item-start style="font-weight: bold; color: black">{{ item.nome }}</span>
      <span item-end style="font-weight: bold; color: black">Qtde: {{ item.quantidade}}</span>
      <button clear="" ion-button item-end icon-left (tap)="tapAddQuantidade($event, item)">
        <ion-icon name="add-circle"></ion-icon>
      </button>

      <button clear="" ion-button item-end icon-left (tap)="tapRemoveQuantidade($event, item)">
        <ion-icon name="remove-circle"></ion-icon>
      </button>
      <button clear="" ion-button item-end icon-left color="danger" (click)="excluirItem(item)">
        <ion-icon name="trash"></ion-icon>
      </button>

    </ion-item>

    <h6>Total Pedido: {{ pedido.total | number}}</h6>
  </ion-list>
</ion-content>