<ion-content class="login-content" scroll="false" padding>

  <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="assets/imgs/logo-login.png" class="logo" />
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <div class="login-box">

    <form padding [formGroup]="loginForm" novalidate>

      <ion-row>
        <ion-col>
          <ion-list>
            <h6 *ngIf="isErroEmail" class="error"> {{mensagemErroEmail}}</h6>
            <ion-item>
              <ion-input type="text" placeholder="Digite seu usuário" formControlName="email" [(ngModel)]="email" clearInput clearOnEdit="false"></ion-input>
            </ion-item>

            <h6 *ngIf="isErroPassword" class="error"> {{mensagemErroPassword}}</h6>
            <ion-item>
              <ion-input type="password" placeholder="Digite sua senha" show-hide-input formControlName="password" [(ngModel)]="password" clearInput clearOnEdit="true"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" full (click)="login()">Login</button>
        </ion-col>
      </ion-row>
    </form>

  </div>
</ion-content>