page-detalhes-produto {
    
    .detalhe-content {
        background: #284B63;

        .card {
            width: 90%;
            text-align: center;
            margin: 35px;
            background: #ffff !important;
                
            .container {
                padding: 2px 16px;
            }

            .image {
                padding: 10px;
            }

            .texto-descricao {
                font: 15px arial, sans-serif;
            }
        }
    }
}
