page-home {
    .home-content {
        background: #284B63;
     
        ion-row {
            align-items: center;
            text-align: center;
        }

        button {
            border: 1px solid #ffffff;
            min-height: 120px;
        }

        @media (min-width: 0px) {
            button {
                min-height: 10px;
                border-radius: 30px !important;
                border: 1px solid #ffffff;
            }
        }
     
        @media (min-width: 420px) {
            .button {
                min-height: 120px;
                border-radius: 1px !important;
                border: 1px solid black;
            }
        }
      
    }
}
