<ion-header>

  <ion-navbar>
    <ion-title>Catálogo de Produtos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="catalogo-content">
  
  <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filtrarProdutos()" placeholder="Buscar produto"></ion-searchbar>

  <div *ngFor="let prod of items" class="card">
    <ion-card>
      <img [src]="prod.urlImg" alt="prod.titulo" />

      <ion-card-content>
        <ion-title text-center tex-wrap>{{prod.descricao}}</ion-title>
        <p text-center>{{prod.grupo}}</p>
        <p text-center>{{prod.subgrupo}}</p>
        <br />
        <p text-center>Tamanho: {{prod.tamanho}}</p>
        <p text-center>Cor: {{prod.cor}}</p>
        <br />
        <h2 text-center>R$ {{prod.preco}}</h2>
        <br />
        <p>
          <button ion-button class="detalhes-btn" block clear (click)="detalhes(prod)">Detalhes</button>
        </p>

        <p>
          <button *ngIf="isFromPedido" ion-button secondary color="dark" block (click)="adicionarCarrinho(prod)" [disabled]="!prod.preco">Comprar</button>
        </p>
      </ion-card-content>
    </ion-card>
  </div>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais produtos..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

>