<ion-header>

  <ion-navbar>
    <ion-title>Catálogo de Produtos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="catalogo-content">
  <ion-searchbar placeholder="Buscar produto"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <div *ngFor="let prod of items" class="card">
        <ion-col col-6 col-md-12>
          <img [src]="prod.urlImg" alt="prod.titulo" style="width: 100%" class="image"/>

          <div class="container">
            <h4><b>{{prod.titulo}}</b></h4>
            <p>{{prod.resumoDescricao}}</p>
            <h4><b>R$ {{prod.preco}}</b></h4>
            <p><button ion-button class="detalhes-btn" block clear (click)="detalhes(prod)">Detalhes</button></p>

            <p><button *ngIf="isFromPedido" ion-button secondary color="dark" block (click)="adicionarCarrinho(prod)">Comprar</button></p>
          </div>
        </ion-col>
      </div>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais produtos..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

>