<ion-header>
  <ion-navbar>
    <ion-title>{{titulo}} Cliente</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="cliente-content">

  <form [formGroup]="clienteForm" novalidate>

    <div *ngIf="passo==1 || isClienteCpfExistente">

      <ion-list inset>
        <ion-item>
          <ion-label floating>CPF/CNPJ</ion-label>
          <ion-input type="text" name="cpf" [brmasker]="{person: true}" formControlName="cpfCnpj" [(ngModel)]="cliente.cpfCnpj" [disabled]="isClienteCpfExistente"></ion-input>
        </ion-item>

        <button ion-button block *ngIf="!isClienteCpfExistente" (click)="validaCpfEContinua(cliente)">Continuar</button>
      </ion-list>
    </div>


    <div *ngIf="passo==2">

      <h6>Dados gerais</h6>
      <ion-list inset>
        <ion-item>
          <ion-label floating>Nome Completo/Razão Social</ion-label>
          <ion-input type="text" formControlName="nome" [(ngModel)]="cliente.nome"></ion-input>
        </ion-item>

        <ion-item *ngIf="isPessoaJuridica">
          <ion-label floating>Fantasia</ion-label>
          <ion-input type="text" formControlName="fantasia" [(ngModel)]="cliente.fantasia"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>RG/IE</ion-label>
          <ion-input type="text" formControlName="rgInscricaoEstadual" [(ngModel)]="cliente.rgInscricaoEstadual"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>E-mail</ion-label>
          <ion-input type="email" formControlName="email" [(ngModel)]="cliente.email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Telefone Fixo</ion-label>
          <ion-input type="text" formControlName="telefone" [brmasker]="{phone: true}" [(ngModel)]="cliente.telefone"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Celular</ion-label>
          <ion-input type="text" formControlName="celular" [brmasker]="{phone: true}" [(ngModel)]="cliente.celular"></ion-input>
        </ion-item>

        <button ion-button block (click)="validaDadosGeraisEContinua(cliente)">Continuar</button>
      </ion-list>

    </div>

    <ion-list inset *ngIf="passo==3">

      <h6>Dados de endereco</h6>
      <ion-item>
        <ion-label floating>CEP</ion-label>
        <ion-input type="text" [brmasker]="{mask:'00000-000', len:9}" formControlName="cep" [(ngModel)]="cliente.endereco.cep"
          (ionChange)="getEndereco()"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Logradouro</ion-label>
        <ion-input text-uppercase type="text" maxlengthmax="100" formControlName="endereco" [(ngModel)]="cliente.endereco.endereco"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Nº</ion-label>
        <ion-input type="number" pattern="\\d*" formControlName="numero" [(ngModel)]="cliente.endereco.numero"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label floating>Bairro</ion-label>
        <ion-input text-uppercase type="text" maxlength="40" formControlName="bairro" [(ngModel)]="cliente.endereco.bairro"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>UF</ion-label>
        <ion-select formControlName="uf" [(ngModel)]="cliente.endereco.uf" (ionChange)="onSelectChangeUf($event)">
          <ion-option text-uppercase value="{{uf.Sigla}}" *ngFor="let uf of estados">{{uf.Sigla}} - {{uf.Nome}}</ion-option>
        </ion-select>
      </ion-item>


      <ion-item *ngIf="!cliente.endereco.ibgeCidade || cliente.endereco.ibgeCidade == null">
        <select-searchable formControlName="cidade" searchPlaceholder="Cidade" [(ngModel)]="cliente.endereco.cidade" [items]="cidadesEstado"
          itemValueField="codigoIbge" itemTextField="nome" [canSearch]="true" [noItemsFoundText]="'Nenhuma cidade encontrada'"
          (onChange)="cidadeChange($event)">
          <ng-template selectSearchableLabelTemplate>
            Cidade
          </ng-template>
        </select-searchable>
      </ion-item>

      <ion-item *ngIf="cliente.endereco.ibgeCidade && cliente.endereco.ibgeCidade != null">
        <ion-input *ngIf="false" type="text" formControlName="cidade" [(ngModel)]="cliente.endereco.cidade.nome"></ion-input>
        <h2>{{cliente.endereco.cidade.nome}}</h2>
        <ion-icon name="md-close-circle" (click)="limparCidade()" item-end></ion-icon>
      </ion-item>

      <button *ngIf="!isClienteCpfExistente" ion-button block (click)="adicionar(cliente)">Salvar</button>
      <button *ngIf="isClienteCpfExistente" ion-button block (click)="atualizar(cliente)">Salvar</button>
      <button ion-button block outline (click)="cancelar()">Cancelar</button>

    </ion-list>

  </form>

</ion-content>