page-novo-cliente {
    .cliente-content {
        background: #284B63;

        ion-list-header {
            background: #284B63; 
        }

        ion-item {
            border-radius: 30px !important;
            padding-left: 30px !important;
            font-size: 0.9em;
            margin-bottom: 10px;
            border: 1px solid #ffffff;
            border-bottom: 0px !important;
            box-shadow: none !important;
        }

        button {
            border-radius: 30px !important;
            border: 1px solid #ffffff;
        }

        h6 {
            color: #fff;
        }

        .warning {
            color: darkorange;
            font-size: 16px;
        }

        .error {
            color: red;
            font-size: 12px;
        }
      
    }

}
