<ion-header>
  <ion-navbar>
    <ion-title>{{titulo}} Cliente</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="cliente-content">

  <form padding [formGroup]="clienteForm" novalidate>

    <div *ngIf="passo==1">
      <h6>Informe seu CPF/CNPJ</h6>

      <ion-list>
        <ion-item>
          <ion-label floating>CPF/CNPJ</ion-label>
          <ion-input type="text" name="cpf" [brmasker]="{person: true}" formControlName="cpfCnpj" [(ngModel)]="cliente.cpfCnpj" [disabled]="isClienteCpfExistente"></ion-input>
        </ion-item>

        <button ion-button block (click)="validaCpfEContinua(cliente)">Continuar</button>
      </ion-list>

      <h6 *ngIf="isErro" class="error"> {{mensagemErro}}</h6>
    </div>

    <div *ngIf="passo==2">
      <h6>Dados gerais</h6>
      <ion-list>
        <ion-item>
          <ion-label floating>Nome Completo/Razão Social</ion-label>
          <ion-input type="text" formControlName="nome" [(ngModel)]="cliente.nome"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>RG/IE</ion-label>
          <ion-input type="text" formControlName="rg" [(ngModel)]="cliente.rg"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>E-mail</ion-label>
          <ion-input type="email" formControlName="email" [(ngModel)]="cliente.email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Telefone Fixo</ion-label>
          <ion-input type="text" formControlName="fixo" [brmasker]="{phone: true}" [(ngModel)]="cliente.fixo"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Celular</ion-label>
          <ion-input type="text" formControlName="celular" [brmasker]="{phone: true}" [(ngModel)]="cliente.celular"></ion-input>
        </ion-item>

        <button ion-button block (click)="validaDadosGeraisEContinua(cliente)">Continuar</button>
      </ion-list>

      <h6 *ngIf="isErro" class="error"> {{mensagemErro}}</h6>
    </div>

    <ion-list inset *ngIf="passo==3">
      <h6>Dados de endereco</h6>

      <ion-item>
        <ion-label floating>Logradouro</ion-label>
        <ion-input type="text" formControlName="logradouro" [(ngModel)]="cliente.endereco.logradouro"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Nº</ion-label>
        <ion-input type="number" pattern="\\d*" formControlName="numero" [(ngModel)]="cliente.endereco.numero"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label floating>CEP</ion-label>
        <ion-input type="text" [brmasker]="{mask:'00.000-000', len:10}" formControlName="cep" [(ngModel)]="cliente.endereco.cep"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Bairro</ion-label>
        <ion-input type="text" formControlName="bairro" [(ngModel)]="cliente.endereco.bairro"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Cidade</ion-label>
        <ion-input type="text" formControlName="cidade" [(ngModel)]="cliente.endereco.cidade"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>UF</ion-label>
        <ion-input type="text" maxlength="2" formControlName="uf" [(ngModel)]="cliente.endereco.uf"></ion-input>
      </ion-item>

      <button *ngIf="!isClienteCpfExistente" ion-button block (click)="adicionar(cliente)">Salvar</button>
      <button *ngIf="isClienteCpfExistente" ion-button block (click)="atualizar(cliente)">Salvar</button>
      <button ion-button block outline (click)="cancelar()">Cancelar</button>

    </ion-list>


  </form>

</ion-content>