page-novo-pedido {

    .pedido-content {
        background: darkmagenta;

        ion-list-header {
            background: darkmagenta; 
        } 

        .form {
            ion-item {
                border-radius: 30px !important;
                padding-left: 30px;
                font-size: 0.9em;
                margin-bottom: 10px;
                border: 1px solid #ffffff;
                border-bottom: 0px !important;
                box-shadow: none !important;
            }
        }

        .item-pedido {
            padding-left: 5px !important;

            ion-label {
                margin-top: 0px !important;
                margin-bottom: 0px !important;
            }
        }

        button {
            border-radius: 30px !important;
            border: 1px solid #ffffff;
        }

        h6 {
            color: #fff;
        }

        h4 {
            color: yellowgreen;
            text-align: center;
        }

    }
}
