<ion-header>
  <ion-navbar>
    <ion-title>{{pedido.numero ? 'Pedido' : 'Novo Pedido' }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="adicionarItemPedido()" *ngIf="passo=='produtos' && !pedido.enviado">
        <ion-icon name="pricetags"></ion-icon>
      </button>
      <!--<button ion-button icon-only (click)="adicionarCliente()" *ngIf="passo=='selecionarCliente' && !pedido.enviado">
        <ion-icon name="person-add"></ion-icon>
      </button>-->
      <button ion-button icon-only (click)="voltarAdicionarItens()" *ngIf="passo=='dadosPagamento'">
        <ion-icon name="md-cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="pedido-content">

  <div class="form">

    <div *ngIf="passo=='selecionarCliente' || passo=='dataEmissao'">

      <ion-list inset>

        <ion-item *ngIf="clientFound">
          <ion-icon name="md-person" item-start></ion-icon>
          <h2>{{pedido.cliente.nome}}</h2>
          <h3>{{pedido.cliente.cpfCnpj}}</h3>
          <ion-icon name="md-close-circle" (click)="limparCliente()" item-end></ion-icon>
        </ion-item>

        <ion-item *ngIf="!clientFound">
          <select-searchable [disabled]="passo!='selecionarCliente'" searchPlaceholder="Nome" title="Cliente" [(ngModel)]="pedido.cliente"
            [items]="clientes" [itemTemplate]="clienteTemplate" itemValueField="cpfCnpj" itemTextField="nome" [canSearch]="true"
            [noItemsFoundText]="'Nenhum cliente encontrado'" (onChange)="clienteChange($event)">
          </select-searchable>
        </ion-item>

        <button *ngIf="passo=='selecionarCliente' && !clientFound" ion-button block (click)="selecionaClienteEContinua()">Buscar Cliente</button>
        <button *ngIf="passo=='selecionarCliente' && clientFound" ion-button block (click)="selecionaClienteEContinua()">Continuar</button>
      </ion-list>
    </div>


    <div *ngIf="passo=='dataEmissao'">

      <h6 padding>Dados gerais</h6>
      <ion-list inset>
        <ion-item>
          <ion-label floating>Emissão</ion-label>
          <ion-datetime disabled displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="pedido.emissao"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label floating>Previsão de Entrega</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="pedido.previsaoEntrega" min="{{anoEntregaMin}}" max="{{anoEntregaMax}}"></ion-datetime>
        </ion-item>

        <button ion-button block (click)="selecionaPrevisaoEntregaEContinua()">Continuar</button>
      </ion-list>
    </div>

    <div *ngIf="passo == 'produtos'">
      <ion-list inset>

        <ion-item *ngIf="pedido.itens.length == 0" (click)="adicionarItemPedido()" text-wrap text-justify>
          <ion-icon name="pricetags" item-start></ion-icon>
          <h3 ion-text color="dark">Através desse ícone você pode adicionar os itens do pedido.</h3>
          <h3 ion-text color="primary">Ele estará disponível sempre no canto superior direito desta tela.</h3>
        </ion-item>

        <ion-item class="item-pedido" *ngFor="let item of pedido.itens">
          <ion-grid>
            <ion-row style="font-weight: bold; color: black">
              <ion-col col-12>{{ item.mascara }} - {{ item.nome }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-3 style="overflow: hidden">
                <span style=" font-weight: bold">Tam: </span>{{ item.tamanho }}</ion-col>
              <ion-col col-4 style="overflow: hidden" *ngIf="item.cor">
                <span style=" font-weight: bold">Cor: </span>{{ item.cor }}</ion-col>
              <ion-col col-4 style="overflow: hidden" *ngIf="!item.cor">
                {{ item.comprimento ? item.comprimento : 0 }}x{{ item.largura ? item.largura : 0 }}x{{ item.altura ? item.altura : 0 }}cm</ion-col>
              <ion-col col-3 style="overflow: hidden">
                <span style=" font-weight: bold">Unit: </span>{{ item.valor | number }}</ion-col>
              <ion-col col-2 style="overflow: hidden">
                <span style=" font-weight: bold">Qtd: </span>{{ item.quantidade }}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-3 offset-1>
                <span style="font-size: xx-large" *ngIf="!pedido.enviado" (tap)="tapAddQuantidade($event, item)">
                  <ion-icon name="add-circle"></ion-icon>
                </span>
              </ion-col>
              <ion-col col-3 offset-1>
                <span style="font-size: xx-large" *ngIf="!pedido.enviado" (tap)="tapRemoveQuantidade($event, item)">
                  <ion-icon name="remove-circle"></ion-icon>
                </span>
              </ion-col>
              <ion-col col-3 offset-1>
                <span style="font-size: xx-large" *ngIf="!pedido.enviado" color="danger" (click)="excluirItem(item)">
                  <ion-icon name="trash"></ion-icon>
                </span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div class="form" padding>
    <div *ngIf="passo=='dadosPagamento'">
      <ion-list>

        <h6>Dados para entrega</h6>
        <ion-grid>
          <ion-row>
            <ion-col col-12>
              <span style="font-weight: bold">Logradouro:</span> {{pedido.cliente.endereco.endereco}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <span style="font-weight: bold">Nª:</span> {{pedido.cliente.endereco.numero}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <span style="font-weight: bold">Complemento:</span> {{pedido.cliente.endereco.complemento}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <span style="font-weight: bold">Bairro:</span> {{pedido.cliente.endereco.bairro}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-12>
              <span style="font-weight: bold">CEP:</span> {{pedido.cliente.endereco.cep}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-8>
              <span style="font-weight: bold">Cidade:</span>
              {{ (pedido.cliente.endereco && pedido.cliente.endereco.cidade) ? pedido.cliente.endereco.cidade.nome : '' }}</ion-col>
            <ion-col col-4>
              <span style="font-weight: bold">UF:</span> {{pedido.cliente.endereco.uf}}</ion-col>
          </ion-row>
        </ion-grid>

        <h6>Dados de Pagamento</h6>

        <ion-item>
          <ion-label floating>Forma de Cobrança</ion-label>
          <ion-select [(ngModel)]="pedido.formaCobrancaId" [disabled]="pedido.enviado" (ionChange)="calcCondicaoPgto()">
            <ion-option value="{{forma.id}}" *ngFor="let forma of formasCobranca">{{forma.descricao}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="!isFormaCobrancaCartao">
          <ion-label floating>Condição Pagamento</ion-label>
          <ion-select [(ngModel)]="pedido.condicaoPagamentoId" [disabled]="pedido.enviado || isFormaCobrancaDinheiro">
            <ion-option value="{{condicao.id}}" *ngFor="let condicao of condicoesPagamento">{{condicao.descricao}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="isFormaCobrancaCartao">
          <ion-label floating>Cartão</ion-label>
          <ion-select [(ngModel)]="pedido.cartaoId" [disabled]="pedido.enviado" (ionChange)="calcPlanosCartao()">
            <ion-option value="{{car.id}}" *ngFor="let car of cartoes">{{car.descricao}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="isFormaCobrancaCartao && pedido.cartaoId">
          <ion-label floating>Plano Operadora</ion-label>
          <ion-select [(ngModel)]="pedido.planoOperadoraId" [disabled]="pedido.enviado" (ionChange)="changePlano()">
            <ion-option value="{{plano.id}}" *ngFor="let plano of planosCartao">{{plano.descricao}}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label floating>(R$) Desconto total</ion-label>
          <ion-input type="text" [disabled]="(!pedido.condicaoPagamentoId && !pedido.planoOperadoraId) || !pedido.formaCobrancaId || pedido.enviado"
            [(ngModel)]="pedido.descontoTotal" [brmasker]="{money: true}" (ionBlur)="calcDesconto()" clearInput="true" clearOnEdit="true"></ion-input>
        </ion-item>

      </ion-list>
    </div>

  </div>

</ion-content>

<ion-footer *ngIf="passo == 'produtos' || passo == 'dadosPagamento'">
  <ion-toolbar>

    <ion-list style="margin: 0;">
      <ion-item>
        <h2>Valor Total: R$ {{pedido.total | number}}</h2>
        <p>Qtde: {{qtdTotal | number}}</p>
        <p *ngIf="pedido.enviado">Desconto: {{pedido.descontoTotal | number}}</p>
      </ion-item>
    </ion-list>

    <ion-buttons end *ngIf="passo == 'produtos' || passo == 'dadosPagamento'">
      <button *ngIf="passo == 'produtos'" ion-button block (click)="resumoPedido()">Resumo Pedido</button>
      <button *ngIf="passo == 'dadosPagamento' && !pedido.enviado" ion-button block (click)="salvar()">Finalizar Pedido</button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>